<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Guias Docentes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Fancy Sliding Form with jQuery" />
        <meta name="keywords" content="jquery, form, sliding, usability, css3, validation, javascript"/>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <!-- analizar porque son funciones ya creadas externas de otra página, no se ha inventado nada, adaptar al formato que se requiera -->
        <script type="text/javascript" src="sliding.form.js"></script> 
    </head>
    <body>

        <div id="content">

            <img src="images/header_background.jpg">    <!-- cabecera-->
            <div id="titulo_cabecera"><span id="curso">Curso 2013/2014</span></div>

           
            <div id="miniaturas">   <!-- miniaturas de cada pantalla del forms-->
                <div id="center">
                    <div class="navigation" style="display:none;">
                        <ul>
                             <li><a href="#"><div class="miniatura"></div>   </a></li>
                             <li><a href="#"><div class="miniatura"></div>   </a></li>
                             <li><a href="#"><div class="miniatura"></div>   </a></li>
                             <li><a href="#"><div class="miniatura"></div>   </a></li>
                             <li><a href="#"><div class="miniatura"></div>   </a></li>  
                             <li><a href="#"><div class="miniatura"></div>   </a></li> 
                             <li><a href="#"><div class="miniatura"></div>   </a></li> 
                             <li><a href="#"><div class="miniatura"></div>   </a></li>  
                             <li><a href="#"><div class="miniatura"></div>   </a></li> 
                             <li><a href="#"><div class="miniatura"></div>   </a></li> 
                             <li><a href="#"><div class="miniatura"></div>   </a></li>  
                        </ul>
                 </div>
                </div>
            </div>

            <div id="Menu_estados"> <!-- por terminas-->
                <ul id="button">
                <li><a id="hover" href="#">[ESTADO 1: Por enviar]</a></li>
                <li><a href="#">[ESTADO 2: Pendiente aprobación]</a></li>
                <li><a href="#">[ESTADO 3: Publicada]</a></li>
                <li><a href="#">[ESTADO 4: Publicada con fallos]</a></li>
                </ul>
            </div>


            <div id="wrapper">  <!-- div contenedor pantallas -->
                <div id="steps">    <!-- POR DEFINIR, SUSTITUIR EN CADA CASO: FALTA CREAR ESTILOS DE FORMULARIOS-->
                    <form id="formElem" name="formElem" action="" method="post">
                        <fieldset class="step">
                            <legend>Inicio</legend>
                            <p>
                                <label for="username">fdsfdsfdfdf</label>
                                <input id="username" name="username" />
                            </p>
                            <p>
                                <label for="email">fdsfdsf</label>
                                <input id="email" name="email" placeholder="dsdadsa@fsadsa.com" type="email" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="password">fdsfd</label>
                                <input id="password" name="password" type="password" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Datos1</legend>
                            <p>
                                <label for="name">fdsfdsfdsfdf</label>
                                <input id="name" name="name" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="country">sdfdsf</label>
                                <input id="country" name="country" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="phone">fd</label>
                                <input id="phone" name="phone" placeholder="e.g. +351215555555" type="tel" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="website">bbb</label>
                                <input id="website" name="website" placeholder="e.g. http://www.dsad.com" type="tel" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Datos1</legend>
                            <p>
                                <label for="cardtype">vvvvvv</label>
                                <select id="cardtype" name="cardtype">
                                    <option>dddd</option>
                                    <option>fff</option>
                                    <option>fffff/option>
                                </select>
                            </p>
                            <p>
                                <label for="cardnumber">fsdfdsfd</label>
                                <input id="cardnumber" name="cardnumber" type="number" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="secure">dsadsad</label>
                                <input id="secure" name="secure" type="number" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="namecard">cxcxzczx</label>
                                <input id="namecard" name="namecard" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Datos1</legend>
                            <p>
                                <label for="newsletter">sasasasas</label>
                                <select id="newsletter" name="newsletter">
                                    <option value="Daily" selected>sasas</option>
                                    <option value="Weekly">sas</option>
                                    <option value="Monthly">sa</option>
                                    <option value="Never">sas</option>
                                </select>
                            </p>
                            <p>
                                <label for="updates">dasd</label>
                                <select id="updates" name="updates">
                                    <option value="1" selected>dassdas</option>
                                    <option value="2">Pfsfsdfd</option>
                                    <option value="0">fsdfdsfdf</option>
                                </select>
                            </p>
							<p>
                                <label for="tagname">Newsletter Tag</label>
                                <input id="tagname" name="tagname" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
						<fieldset class="step">
                            <legend>Datos1</legend>
							<p>
								ddsadasdsaddsadsa
                                dasdasdsad
                                sadasdsa
							</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">ENVIAR</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <div id="navigation" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">Inicio</a>
                        </li>
                        <li>
                            <a href="#">Datos1</a>
                        </li>
                        <li>
                            <a href="#">Datos1</a>
                        </li>
                        <li>
                            <a href="#">Datos1</a>
                        </li>
						<li>
                            <a href="#">Datos1</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>  <!-- content-->
    </body>
</html>