<stylesheet>
	<table
		width="100%"
		text-align="left" ></table>
	<td
		border.size="1px"
		border.style="solid"
		border.color="#CCCCCC"
		padding="10px"></td>

	<img padding="0px" margin="0px"></img>
	<p padding="0px" margin="0px"></p>

	<td class="limpio" padding="0px" border.color="#FFFFFF"></td>
	<td class="no-borde" border.color="#FFFFFF"></td>

	<any class="center" text-align="center"></any>
	<any class="right" text-align="right"></any>
	<any class="left" text-align="left"></any>

	<any class="text-white" color="#FFFFFF"></any>
	<any class="contenido" padding="5px"></any>

	<any class="bold" font-style="bold"></any>
	<any class="size1" font-size="20px"></any>
	<any class="size2" font-size="25px"></any>
	<any class="size3" font-size="17px"></any>
	<any class="size4" font-size="10px"></any>

	<any class="small" margin="0px"></any>
	<any class="big" margin="10px"></any>

	<any class="color0" background.color="#999999" />
	<any class="color1" background.color="#B5B0AD" />
	<any class="color2" background.color="#CCCCCC" />
	<any class="color3" background.color="#EEEEEE" />
	<any class="color4" background.color="#D2EAFB" />
</stylesheet>