<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title></title>

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% javascripts
			'@EtsiAppGuiasBundle/Resources/public/js/jquery-1.9.1.min.js'
			'@EtsiAppGuiasBundle/Resources/public/js/guiaDefault.js' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
	</head>

	<body>
		<h2>Datos a configurar</h2>
		<ul>
			<li>asignatura</li>

			<li>profesores</li>

			<li>creditosTeoricos</li>
			<li>creditosPracticosAula</li>
			<li>creditosPracticosInformatica</li>
			<li>creditosPracticosLaboratorio</li>
			<li>creditosPracticosCampo</li>

			<li>estado</li>

			<li>curso</li>

			<li>datosEspecificos_1_1</li>
			<li>datosEspecificos_1_2</li>
			<li>datosEspecificos_2_1</li>
			<li>datosEspecificos_2_2</li>
			<li>datosEspecificos_3</li>
			<li>datosEspecificos_4_1</li>
			<li>datosEspecificos_4_2</li>
			<li>datosEspecificos_6_1_1</li>
			<li>datosEspecificos_6_1_2</li>
			<li>datosEspecificos_6_2</li>
			<li>datosEspecificos_7</li>
			<li>datosEspecificos_8_1</li>
			<li>datosEspecificos_8_2</li>
			<li>datosEspecificos_9_1_1</li>
			<li>datosEspecificos_9_1_2</li>
			<li>datosEspecificos_9_2</li>
			<li>datosEspecificos_10</li>
		</ul>
	</body>
</html>