{% extends "EtsiAppGuiasBundle::baseLayout.html.twig" %}


{% block titulo_cabecera %}
	AppLogin
{% endblock %}

{% block wrapper %}
	<div id="steps">
		<form action="{{ path('login') }}" method="post">
			<fieldset class="step">
				<div class="contenedor">
					<div class="in-titulo">Datos de acceso</div>

					<label for="username" class="natural">usuario:</label>
					<input id="username" class="natural" type="text" name="_username" value="{{ last_username|default('') }}" />
					<div class="clear"></div>
					<label for="password" class="natural">Contraseña:</label>
					<input id="password" class="natural" type="password" name="_password" />

					<div class="contenedor submit">
						<button id="registerButton" name="login" type="submit">LOGIN</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}