{% extends "EtsiAppGuiasBundle::adminBaseLayout.html.twig" %}

{% block sectionTitle %}Administración de asignaturas{% endblock %}
{% block menu %}
	<h3>Asignaturas</h3>
	<ul class="toggle">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>

	<h3>Competencia</h3>
	<ul class="toggle hide">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>

	<h3>Grado</h3>
	<ul class="toggle hide">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>

	<h3>Guía</h3>
	<ul class="toggle hide">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>

	<h3>Profesor</h3>
	<ul class="toggle hide">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>

	<h3>Semana</h3>
	<ul class="toggle hide">
		<li class="icn_categories"><a href="#">Listar</a></li>
		<li class="icn_new_article"><a href="#">Nueva</a></li>
	</ul>
{% endblock %}