{% extends "EtsiAppGuiasBundle:AdminAsignatura:base.html.twig" %}

{% block section %}
<article class="module width_full">
	<header>
		<h3>Asignatura</h3>
	</header>

	<div class="module_content">
		
	</div>
</article>
{% endblock %}